<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::head" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout::menu"></nav>
<div class="card">
    <div class="card-header text-bg-danger">
        CALCULADORA IMC
    </div>
    <div class="card-body">
        <form th:action="@{/imc}" method="post" th:object="${imcModel}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="txttalla"
                       placeholder="name@example.com" th:field="*{talla}">
                <label for="txttalla">Ingrese su talla.</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="txtpeso"
                       placeholder="Password" th:field="*{peso}">
                <label for="txtpeso">Ingrese su peso.</label>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">CALCULAR</button>
            <div th:if="${mostrarMensaje}" class="alert alert-danger" role="alert">
                <span th:text="${resultado} ?: ''"></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>