<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<div class="card">
    <div class="card-header text-bg-danger">
        AUTENTICACIÓN
    </div>
    <div class="card-body">
        <form th:action="@{/login}" method="post" th:object="${loginModel}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="txtusuario"
                       placeholder="name@example.com" th:field="*{usuario}">
                <label for="txtusuario">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="txtpassword"
                       placeholder="Password" th:field="*{password}">
                <label for="txtpassword">Password</label>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">INGRESAR</button>
            <div th:if="${mostrarMensaje}" class="alert alert-danger" role="alert">
                <span th:text="${mensaje} ?: ''"></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>